Complaint_Reply.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat">
    <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="IBMdefined/RecordSeparatedFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="implicit" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="Complaint_Reply">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="|" dfdl:separatorSuppressionPolicy="anyEmpty">
				<xsd:element name="YourComplaint">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="+++">
							<xsd:element ibmDfdlExtn:sampleValue="body_value1" name="Type" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="body_value2" name="Reference" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="body_value3" name="Text" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Reply">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="+++">
							<xsd:element ibmDfdlExtn:sampleValue="trailer_value1" name="OurReference" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="trailer_value2" name="Text" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>